/* ================================ */
/* ======== TABLE OF CONTENTS ========= */
/* ================================ */

/* 
1. GOOGLE FONTS 
2. BASIC STYLES
3. HEADING STYLES
4. CONTENT SECTIONS
5. ICON STYLES
6. BLOG STYLES
7. IMAGE STYLES
8. POST STYLES
9. PARALLAX BACKGROUND STYLES
10. OVERLAY EFFECTS
11. BOOTSTRAP CAROUSEL
12. SCROLL TO TOP BUTTON
13. TEAM SECTION STYLES
14. SOCIAL ICON BARS
15. CONTACT SECTION MAP STYLES
16. ICON FEATURE BOXES
17. PRICING STYLES
18. FORM STYLES
19. SIDEBAR STYLES
20. PORTFOLIO STYLES
21. ISOTOPE STYLES
22. COUNTER STYLES
23. PAGINATION STYLES
24. FOOTER STYLES
*/

/* =================================  */
/* ========== 1. GOOGLE FONTS ==========  */
/* =================================  */

/* =================================  */
/* ========== 2. BASIC STYLES ==========  */
/* =================================  */
html {
height:100%;
-webkit-font-smoothing:antialiased!important;
font-smoothing:antialiased!important;
text-rendering:optimizeLegibility!important;
overflow-x:hidden;
max-width:100%;
}

body {
font-family:'Open Sans', san-serif;
color:#777;
font-size:13px;
font-weight:400;
line-height:1.64285;
overflow-x:hidden;
}

img.responsive {
max-width:100%;
display:block;
height:auto;
}

blockquote {
padding:15px 20px;
margin:20px 0;
border-left:4px solid #FF4D50;
background-color:#F5F5F5;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
}

blockquote p {
font-size:15px;
font-weight:400;
margin-top:0!important;
line-height:1.64285;
}

@media (max-width: 992px) {
body {
margin:0;
}
}

a,a:link,a:visited {
text-decoration:none;
color:#2f3640;
-webkit-transition:color .25s;
-moz-transition:color .25s;
-o-transition:color .25s;
transition:color .25s;
outline:0;
}

a:active,a:hover {
color:#FF4D50;
-webkit-transition:color .25s;
-moz-transition:color .25s;
-o-transition:color .25s;
transition:color .25s;
outline:0;
}

/* Page Loading */
#pageloader {
width:100%;
height:100%;
position:fixed;
background-color:#272d35;
z-index:999999;
}

.loader-img {
position:absolute;
width:auto;
height:height;
margin:-27px 0 0 -27px;
top:50%;
left:50%;
text-align:center;
}

/* ========== MARGIN, PADDING AND BORDER OVERIDES ========== */
.kill-top-margin {
margin-top:0!important;
}

.kill-bottom-margin {
margin-bottom:0!important;
}

.kill-top-padding {
padding-top:0!important;
}

.kill-bottom-padding {
padding-bottom:0!important;
}

.kill-border {
border:0!important;
}

/* ========== FONT CLASSES ========== */
.weight-300 {
font-weight:300;
}

.weight-400 {
font-weight:400;
}

.weight-700 {
font-weight:700;
}

.weight-800 {
font-weight:800;
}

.uppercase {
text-transform:uppercase;
}

.color-primary {
color:#01CFCA!important;
}

.bg-primary {
background-color:#01CFCA!important;
}

.color-secondary {
color:#FF4D50!important;
}

.bg-secondary {
background-color:#FF4D50!important;
}

.color-primary-dark {
color:#2f3640!important;
}

.bg-primary-dark {
background-color:#2f3640!important;
}

.color-secondary-dark {
color:#373d49!important;
}

.bg-secondary-dark {
background-color:#373d49!important;
}

.color-white {
color:#FFF!important;
}

.color-off-white {
color:#CCC!important;
}

/* =================================  */
/* ========== 3. HEADING STYLES ==========  */
/* =================================  */
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
font-family:'Open Sans', san-serif;
font-weight:400;
color:#2f3640;
line-height:1.4;
z-index:2;
position:relative;
}

h1,h2,h3 {
margin-top:20px;
margin-bottom:20px;
}

h4,h5,h6 {
margin-top:10px;
margin-bottom:10px;
}

h1,.h1 {
font-size:36px;
letter-spacing:-1px;
}

h2,.h2 {
font-size:30px;
letter-spacing:-1px;
}

h3,.h3 {
font-size:24px;
letter-spacing:-.5px;
}

h4,.h4 {
font-size:18px;
letter-spacing:-.25px;
}

h5,.h5 {
font-size:14px;
letter-spacing:-.25px;
}

h6,.h6 {
font-size:12px;
}

/* Helper class that can be added to images to make them into a circle */
.rounded {
border-radius:500px;
}

section {
position:relative;
}

/* ==================================== */
/* ========== 4. CONTENT SECTIONS ========== */
/* ==================================== */
/* Add a color or background image directly to the element inline */
.fullwidth-section {
position:relative;
padding-top:80px;
padding-bottom:80px;
background-size:100% auto;
background-position:center center;
background-attachment:fixed;
background-repeat:repeat;
background-size:100% auto;
}

.fullwidth-section.half-padding {
padding-top:40px;
padding-bottom:40px;
}
@media (max-width: 991px) {
.fullwidth-section {
background-size:auto 100%;
}
}
/* =================================  */
/* =========== 5. ICON STYLES ===========  */
/* =================================  */
.outline-icon {
position:relative;
display:inline-block;
border:solid 2px #FFF;
width:28px;
height:28px;
border-radius:100px;
margin:0;
margin-right:3px;
margin-left:3px;
-webkit-transition:all .25s;
-ms-transition:all .25s;
-moz-transition:all .25s;
-o-transition:all .25s;
cursor:pointer;
}

.outline-icon i {
font-size:12px;
color:#FFF;
position:absolute;
left:50%;
margin-left:-8px;
top:50%;
margin-top:-6px;
}

.outline-icon:hover {
background-color:#01CFCA;
border:solid 2px #01CFCA;
}

/* =========== SPECIAL ICON STYLES ===========  */
.icon-effect-1 {
background-color:#2f3640;
box-shadow:0 0 0 0 #FFF;
border:4px solid #FFF;
border-radius:100px;
color:#FFF;
font-size:60px;
width:120px;
height:120px;
padding-top:26px;
text-align:center;
-webkit-transition:all .3s;
-moz-transition:all .3s;
transition:all .3s;
margin-top: 20px;
}

.icon-effect-1:hover {
border:4px solid #2f3640;
color:#FFF;
box-shadow:0 0 0 4px #2f3640;
-webkit-transition:all .3s;
-moz-transition:all .3s;
transition:all .3s;
}

.icon-effect-2 {
background-color:#2f3640;
box-shadow:0 0 0 3px #FFF;
border:none;
border-radius:100px;
color:#FFF;
font-size:60px;
width:120px;
height:120px;
padding-top:30px;
text-align:center;
-webkit-transition:all .2s;
-moz-transition:all .2s;
transition:all .2s;
margin-top: 20px;
}

.icon-effect-2:hover {
color:#FFF;
box-shadow:0 0 0 6px #FFF;
-webkit-transition:all .2s;
-moz-transition:all .2s;
transition:all .2s;
}
/* =================================  */
/* ============ 6. BLOG STYLES ==========  */
/* =================================  */
.blog-wrapper {
position:relative;
background-color:#F5F5F5;
padding:25px;
padding-bottom:20px;
margin-bottom:20px;
color:#555555;
border:solid 1px rgba(0,0,0,.1);
border-bottom-right-radius:2px;
border-bottom-left-radius:2px;
}

.blog-wrapper h3 {
font-weight:700;
color:#2f3640;
margin-top:0;
text-align:center;
}

#blog-page h3 {
text-align:left;
}

.blog-wrapper h2 {
font-weight:700;
color:#2f3640;
margin-top:0;
}

.blog-wrapper .read-more {
color:#01CFCA;
font-weight:700;
}

.blog-wrapper .read-more:hover {
color:#FF4D50;
}

.blog-info {
font-family:'Open Sans', san-serif;
font-size:11px;
font-weight:700;
color:#373d49;
margin-top:25px;
text-transform:uppercase;
}

.blog-info i {
position:relative;
font-size:14px;
margin-right:4px;
margin-left:15px;
top:1px;
}

.blog-info i:first-child {
margin-left:0;
}

.blog-info .likes {
color:#FF4D50;
float:right;
}

.video-embed-container {
position:relative;
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
max-width:100%;
height:auto;
}

.video-embed-container iframe,.video-embed-container object,.video-embed-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* ================================ */
/* ========== 7. IMAGE STYLES ========== */
/* ================================ */
.img-thumb {
position:relative;
width:100%;
overflow:hidden;
background-repeat:no-repeat;
background-size:100% auto;
background-position:center center;
border-top-right-radius:2px;
border-top-left-radius:2px;
}

.img-thumb img.filler {
opacity:0;
max-height:220px;
width:100%;
}

#blog-page .img-thumb img.filler {
max-height:420px;
}

#blog-page .blog-wrapper {
margin-bottom:60px;
}

.img-thumb-hover {
position:absolute;
border-radius:0;
width:0;
left:0;
height:100%;
z-index:1;
opacity:0;
-webkit-transition:all .35s;
-moz-transition:all .35s;
-o-transition:all .35s;
transition:all .35s;
transition-timing-function:ease-out;
-webkit-transition-timing-function:ease-out;
}

.img-thumb:hover .img-thumb-hover {
opacity:1;
width:100%;
background-color:rgba(0,0,0,.4);
}

.img-thumb-hover i {
position:absolute;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
color:#FFF;
font-size:18px;
line-height:0;
text-align:center;
padding-top:18px;
border:2px solid #FFF;
border-radius:50px;
-webkit-transition:all .35s;
-moz-transition:all .35s;
-o-transition:all .35s;
transition:all .35s;
}

.img-thumb-hover-left i,.img-thumb-hover-right i {
position:absolute;
top:50%;
left:50%;
width:40px;
height:40px;
margin-top:-20px;
margin-left:-20px;
color:#FFF;
font-size:18px;
line-height:0;
text-align:center;
padding-top:18px;
border:2px solid #FFF;
border-radius:50px;
-webkit-transition:all .35s;
-moz-transition:all .35s;
-o-transition:all .35s;
transition:all .35s;
}

.img-thumb-hover-left {
position:absolute;
border-radius:0;
width:0;
left:0;
height:100%;
z-index:1;
opacity:0;
-webkit-transition:all .35s;
-moz-transition:all .35s;
-o-transition:all .35s;
transition:all .35s;
transition-timing-function:ease;
-webkit-transition-timing-function:ease;
}

.img-thumb-hover-right {
position:absolute;
border-radius:0;
width:0;
right:0;
height:100%;
z-index:1;
opacity:0;
-webkit-transition:all .35s;
-moz-transition:all .35s;
-o-transition:all .35s;
transition:all .35s;
transition-timing-function:ease;
-webkit-transition-timing-function:ease;
}

.img-thumb:hover .img-thumb-hover-left,.img-thumb:hover .img-thumb-hover-right {
opacity:1;
width:50%;
background-color:rgba(0,0,0,.4);
}

.img-thumb .img-thumb-hover-left:hover {
background-color:rgba(0,0,0,.6);
}

.img-thumb .img-thumb-hover-right:hover {
background-color:rgba(0,0,0,.6);
}

.img-thumb .img-thumb-hover-left:hover i,.img-thumb .img-thumb-hover-right:hover i,.img-thumb .img-thumb-hover i:hover {
background-color:#01CFCA;
border:2px solid #01CFCA;
}

#post .img-thumb img.filler {
opacity:0;
max-height:520px;
width:100%;
margin-top:60px;
}

/* =================================  */
/* =========== 8. POST STYLES ===========  */
/* =================================  */
.post-info {
color:#FFF;
margin-bottom:20px;
font-weight:600;
font-size:12px;
text-transform:uppercase;
}

.post-info i {
font-size:14px;
margin-right:4px;
margin-left:12px;
}

.post-info i:first-child {
margin-left:0;
}

.likes {
color:#FF4D50;
}

.img-wrapper {
position:relative;
width:100%;
margin-bottom:6px;
}

img {
outline:0;
border-radius:2px;
}

.img-pull-right {
position:relative;
margin-top:24px;
margin-bottom:18px;
margin-left:24px;
float:right;
max-width:100%;
padding:0;
}

.img-pull-left {
position:relative;
margin-top:24px;
margin-bottom:18px;
margin-right:24px;
float:left;
max-width:100%;
padding:0;
}

@media (max-width: 767px) {
.img-pull-right {
width:100%;
margin-left:0;
}

.img-pull-left {
width:100%;
margin-right:0;
}
}

ul.comments {
margin:0;
padding:0;
margin-top:10px;
}

.comments li {
list-style:none;
}

.comments li.reply {
list-style:none;
margin-left:100px;
}

.avatar-pic {
width:80px;
height:80px;
margin:auto;
margin-bottom:10px;
margin-top:0;
border-radius:50px;
position:relative;
overflow:hidden;
background-color:#F5F5F5;
margin-right:20px;
float:left;
}

.avatar-pic img {
border-radius:50px;
}

.comment-info {
position:relative;
margin-bottom:10px;
}

.comment-date {
text-align:left;
font-size:11px;
}

.reply-link {
text-align:right;
margin-top:5px;
font-weight:600;
font-size:12px;
}

.reply-link i {
margin-right:4px;
}

.comments p {
margin-top:0;
margin-bottom:0;
}

.form-control:focus {
box-shadow:none;
border-color:#E2E2E2;
}



/* ======================================== */
/* ========== 9. PARALLAX BACKGROUNDS ========== */
/* ======================================== */
.parallax {
background-attachment:fixed;
background-position:center center;
background-repeat:repeat;
position:relative;
z-index:-1;
margin-top:0;
margin-bottom:0;
background-size:100% auto;
}

.parallax h1 {
position:relative;
color:#FFF;
font-weight:700;
font-size:60px;
letter-spacing:-2px;
text-align:center;
z-index:100;
}

.parallax h2 {
position:relative;
color:#FFF;
font-weight:400;
text-align:center;
z-index:100;
}
@media (max-width: 991px) {
.parallax {
background-attachment:fixed;
background-position:center center;
background-repeat:repeat;
position:relative;
z-index:-1;
margin-top:0;
margin-bottom:0;
background-size:auto 100%;
}

.parallax h1 {
font-size:30px;
letter-spacing:-1px;
}

.parallax h2 {
font-size: 20px;
}
}
/* =====================================  */
/* ============ 10. OVERLAY EFFECTS ============  */
/* =====================================  */
.img-overlay1 {
position:absolute;
top:0;
width:100%;
height:100%;
background-image:url(../img/pat1.png);
background-repeat:repeat;
background-attachment:fixed;
background-color:rgba(47,54,64,0.2);
}

.img-overlay2 {
position:absolute;
top:0;
width:100%;
height:100%;
background-image:url(../img/pat2.png);
background-repeat:repeat;
background-attachment:fixed;
background-color:rgba(47,54,64,0.2);
}

.img-overlay3 {
position:absolute;
top:0;
width:100%;
height:100%;
background-image:url(../img/pat3.png);
background-repeat:repeat;
background-attachment:fixed;
background-color:rgba(47,54,64,0.2);
}

.img-overlay4 {
position:absolute;
top:0;
width:100%;
height:100%;
background-image:url(../img/pat4.png);
background-repeat:repeat;
background-attachment:fixed;
background-color:rgba(47,54,64,0.2);
}

.img-overlay5 {
position:absolute;
top:0;
width:100%;
height:100%;
z-index:1;
background-repeat:repeat;
}

/* =========================================  */
/* ============ 11. BOOTSTRAP CAROUSEL ============  */
/* =========================================  */
#carousel {
margin-bottom:30px;
}

#carousel .carousel-indicators {
position:relative;
bottom:-10px;
height:30px;
left:50%;
z-index:15;
width:60%;
margin-left:-30%;
padding-left:0;
list-style:none outside none;
text-align:center;
margin-bottom:30px;
}

#carousel .carousel-indicators li {
display:inline-block;
width:12px;
height:12px;
margin:1px;
text-indent:-999px;
background-color:#FFF;
opacity:0.5;
border:0;
border-radius:10px;
cursor:pointer;
}

#carousel .carousel-indicators li:hover {
opacity:1;
}

#carousel .carousel-indicators .active {
opacity:1;
}

#carousel .carousel-control {
position:absolute;
top:50%;
width:25px;
height:25px;
margin-top:13px;
border-radius:20px;
font-size:20px;
opacity:1;
color:#FFF;
background-color:rgba (0,0,0,0);
border:2px solid #FFF;
background-image:none;
text-align:center;
text-shadow:none;
transition:all .25s;
-moz-transition:all .25s;
-webkit-transition:all .25s;
z-index:15;
}

#carousel .carousel-control:hover {
opacity:1;
border:2px solid #01CFCA;
background-color:#01CFCA;
}

#carousel .carousel-control.left {
left:15px;
}

#carousel .carousel-control.right {
right:15px;
}

#carousel .carousel-control i {
position:relative;
top:-9px;
font-size:11px;
text-shadow:0;
}

#carousel .carousel-caption {
position:absolute;
font-size:16px;
left:15%;
right:15%;
bottom:20px;
z-index:10;
padding-top:20px;
padding-bottom:20px;
color:rgb(255,255,255);
text-align:center;
text-shadow:0 1px 2px rgba(0,0,0,0.6);
}

.testimonial-slider {
font-size:16px;
font-weight:400;
padding-right:80px;
padding-left:80px;
}

.testimonial-slider .user {
width:150px;
height:150px;
border-radius:75px;
margin-right:30px;
margin-bottom:30px;
}

.source {
padding-top:15px;
font-weight:400;
font-size:14px;
}

/* ============================================================ */
/* ================== 12. SCROLL TO TOP SCRIPT ====================== */
/* ============================================================ */
.scrollup {
width:30px;
height:30px;
border-radius:15px;
opacity:.3;
position:fixed;
bottom:20px;
right:25px;
color:#FFF;
cursor:pointer;
background-color:#000;
z-index:10;
transition:opacity .5s, background-color .5s;
-moz-transition:opacity .5s, background-color .5s;
/* Firefox 4 */
-webkit-transition:opacity .5s, background-color .5s;
}

.scrollup:hover {
background-color:#01CFCA;
opacity:1;
}

.scrollup i {
font-size:13px;
position:absolute;
opacity:1;
color:#FFF;
left:50%;
top:50%;
margin-top:-7px;
margin-left:-6px;
text-decoration:none;
}


/* ==================================== */
/* ============= 13. TEAM SECTION ============ */
/* ==================================== */
#team img {
border-radius:78px;
width:156px;
height:156px;
margin:0 auto;
margin-bottom:20px;
}

#team hr {
margin-top:40px;
margin-bottom:40px;
}

.team-hover {
position:absolute;
left:50%;
margin-left:-78px;
background-color:rgba(0,0,0,0.5);
width:156px;
height:156px;
border-radius:80px;
opacity:0;
transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;
}

.team-hover:hover {
opacity:1;
}

.team-hover-text {
position:relative;
color:#FFF;
font-size:13px;
font-weight:700;
top:50%;
text-align:center;
margin-top:-16px;
}

.team-info h4 {
font-weight:700;
}

.team-info h6 {
color:#373d49;
text-transform:uppercase;
}

@media (max-width: 1200px) {
#team img {
width:132px;
height:132px;
}

.team-hover {
margin-left:-66px;
width:132px;
height:132px;
}
}

/* ======================================  */
/* ============= 14. SOCIAL ICON BARS ============ */
/* ======================================  */
/* REGULAR BAR */
.social-icons {
color:#2f3640;
margin-top:20px;
margin-bottom:20px;
}

.social-icons i {
font-size:16px;
margin-right:3px;
margin-left:3px;
border:2px solid #2f3640;
border-radius:25px;
padding:5px;
cursor:pointer;
-webkit-transition:all .25s;
-ms-transition:all .25s;
-moz-transition:all .25s;
-o-transition:all .25s;
}

.social-icons i:hover {
border-color:#FF4D50;
color:#FF4D50;
}

/* ============================================================ */
/* ================= 15. CONTACT PAGE MAP STYLES ======================= */
/* ============================================================ */
.map-wrapper {
position:relative;
width:100%;
height:400px;
overflow:hidden;
}

#map-canvas {
width:100%;
height:400px;
border:0;
}

#contact form {
position:relative;
z-index:3;
}

#contact .form-group {
color:#FFF;
}

#contact .form-group input,#contact .form-group textarea {
background-color:rgba(0,0,0,0);
color:#FFF;
border:2px solid #FFF;
padding:10px;
height:auto;
font-size:13px;
border-radius:2px;
box-shadow:none;
}

#contact label {
font-size:14px;
font-weight:700;
}

#contact input.parsley-success,textarea.parsley-success {
color:#468847!important;
background-color:#DFF0D8!important;
}

#contact input.parsley-error,textarea.parsley-error {
color:#B94A48!important;
background-color:#F2DEDE!important;
}

#contact ul.parsley-error-list {
list-style-type:none;
margin:0;
padding:0;
}

/* =================================  */
/* ========== 16. ICON FEATURE BOXES STYLES ==========  */
/* =================================  */
/* === Vertical 3 Column === */
.icon-feature-3column {
}

.icon-feature-3column i {
font-size:100px;
margin-top:20px;
margin-bottom:20px;
}

/* === Vertical 4 Column === */
.icon-feature-4column {
}

.icon-feature-4column i {
font-size:70px;
margin-top:20px;
margin-bottom:20px;
}

/* === Vertical 3 Column - With Background === */
.icon-feature-3column-alt {
}

.icon-feature-3column-alt i {
font-size:70px;
border-radius:100px;
padding:35px;
margin-top:20px;
margin-bottom:20px;
}

/* === Vertical 4 Column - With Background === */
.icon-feature-4column-alt {
}

.icon-feature-4column-alt i {
font-size:50px;
border-radius:100px;
padding:25px;
margin-top:20px;
margin-bottom:20px;
}

/* === Horizontal 3 Column === */
.icon-feature-3column-horizontal {
display:table;
}

.icon-feature-3column-horizontal .icon {
display:table-cell;
padding-top:15px;
}

.icon-feature-3column-horizontal .icon i {
font-size:40px;
}

.icon-feature-3column-horizontal .content {
display:table-cell;
vertical-align:top;
text-align:left;
padding-left:20px;
}

/* === Horizontal 2 Column === */
.icon-feature-2column-horizontal {
display:table;
}

.icon-feature-2column-horizontal .icon {
display:table-cell;
padding-top:15px;
}

.icon-feature-2column-horizontal .icon i {
font-size:60px;
}

.icon-feature-2column-horizontal .content {
display:table-cell;
vertical-align:top;
text-align:left;
padding-left:30px;
}

/* === Horizontal 3 Column - With Background === */
.icon-feature-3column-horizontal-alt {
display:table;
}

.icon-feature-3column-horizontal-alt .icon {
display:table-cell;
padding-top:15px;
}

.icon-feature-3column-horizontal-alt .icon i {
border-radius:100px;
padding:12px;
font-size:24px;
margin-top:0;
margin-bottom:20px;
}

.icon-feature-3column-horizontal-alt .content {
display:table-cell;
vertical-align:top;
text-align:left;
padding-left:20px;
}

/* === Horizontal 2 Column - With Background === */
.icon-feature-2column-horizontal-alt {
display:table;
}

.icon-feature-2column-horizontal-alt .icon {
display:table-cell;
padding-top:15px;
}

.icon-feature-2column-horizontal-alt .icon i {
border-radius:100px;
padding:16px;
font-size:32px;
margin-top:0;
margin-bottom:20px;
}

.icon-feature-2column-horizontal-alt .content {
display:table-cell;
vertical-align:top;
text-align:left;
padding-left:20px;
}

/* =================================  */
/* ========== ANIMATION DEMO ==========  */
/* =================================  */
.animation-demo {
border-radius:3px;
padding:20px 30px;
margin-bottom:30px;
}

/* ======================================== */
/* =============== 17. PRICING TABLES =========== */
/* ======================================== */
#pricing .col-md-4:first-child {
padding-right:0;
padding-left:15px;
}

#pricing .col-md-4:last-child {
padding-left:0;
padding-right:15px;
}

@media (max-width: 767px) {
#pricing .col-md-4:first-child {
padding-right:0;
padding-left:0;
}

#pricing .col-md-4:last-child {
padding-left:0;
padding-right:0;
}
}

#pricing .col-md-4 {
padding-right:0;
padding-left:0;
}

.pricing-table-header {
text-align:center;
background-color:#2f3640;
color:#FFF;
font-size:14px;
font-weight:600;
padding-top:30px;
padding-bottom:30px;
}

#pricing .col-md-4:hover .pricing-table-header {
background-color:#01CFCA;
}

#pricing .col-md-4:hover .pricing-table-features li:last-child {
background-color:#01CFCA;
}

#pricing .col-md-4:first-child .pricing-table-header {
border-top-left-radius:2px;
}

#pricing .col-md-4:last-child .pricing-table-header {
border-top-right-radius:2px;
}

.pricing-table-price {
font-size:100px;
line-height:100px;
color:#FFF;
font-weight:600;
margin-top:20px;
}

.pricing-table-price i {
font-size:34px;
position:relative;
margin-right:5px;
top:-40px;
}

.pricing-table-decimal {
font-size:16px;
position:relative;
top:-5px;
font-weight:400;
margin-left:2px;
letter-spacing:0;
line-height:0;
}

.pricing-table-features {
list-style:none;
padding:0;
border:none;
}

.inner {
border-right:0;
border-left:0;
}

.pricing-table-features li,.pricing-table-features li a {
text-align:center;
padding:10px;
margin:0;
font-size:14px;
color:#FFF;
}

.pricing-table-features li:nth-child(odd) {
background-color:#373d49;
}
.pricing-table-features li:nth-child(even) {
background-color:#2f3640;
}
.pricing-table-features li:last-child {
-webkit-box-shadow:inset 0 -4px 0 0 rgba(0,0,0,0.2);
-moz-box-shadow:inset 0 -4px 0 0 rgba(0,0,0,0.2);
box-shadow:inset 0 -4px 0 0 rgba(0,0,0,0.2);
}
.pricing-table-features:active li:last-child {
padding-top: 11px;
padding-bottom: 9px;
-webkit-box-shadow:none;
-moz-box-shadow:none;
box-shadow:none;
}
.pricing-table-features li:last-child a {
display: block;
font-size: 16px;
font-weight: 700;
}
.pricing-table-features i {
margin-right:4px;
font-size:16px;
}

/* =================================  */
/* =========== 18. FORM STYLES ==========  */
/* =================================  */
.form-group input,.form-group textarea {
background-color:rgba(0,0,0,0);
color:#777;
border:2px solid #E2E2E2;
padding:10px;
height:auto;
font-size:13px;
box-shadow:none;
}

/* =================================  */
/* =========== 19. SIDEBAR STYLES ==========  */
/* =================================  */
#sidebar .input-group input {
background-color:rgba(0,0,0,0);
color:#777;
border:2px solid #E2E2E2;
padding:10px;
height:auto;
font-size:13px;
box-shadow:none;
}

#sidebar .input-group .input-group-btn .btn {
margin-left:0;
padding:11px 12px;
}

#sidebar hr {
margin-top:10px;
margin-bottom:10px;
}

#sidebar h4 {
margin-top:40px;
margin-bottom:20px;
text-transform:uppercase;
font-weight:600;
}

#sidebar i {
margin-right:4px;
}

#sidebar a.tag {
margin:0 7px 7px 0;
padding:4px 8px;
border-radius:2px;
display:block;
float:left;
color:#FFF;
background-color:#373d49;
-webkit-transition:background-color .25s;
-moz-transition:background-color .25s;
-o-transition:background-color .25s;
transition:background-color .25s;
}

#sidebar a.tag:hover {
background-color:#FF4D50;
}

/* =================================  */
/* ========== 20. PORTFOLIO STYLES ==========  */
/* =================================  */
#portfolio h4 {
font-weight:700;
text-align:center;
margin-top:0;
}

#portfolio .row {
margin-bottom:15px;
}

/* ================================= */
/* ========== 21. ISOTOPE FILTERING SCRIPT ========== */
/* ================================= */
#isotope {
width:100%;
margin-top:0;
}

.isotope-item {
z-index:2;
}

.isotope-hidden.isotope-item {
pointer-events:none;
z-index:1;
}

.isotope,.isotope .isotope-item {
-webkit-transition-duration:.5s;
-moz-transition-duration:.5s;
-ms-transition-duration:.5s;
-o-transition-duration:.5s;
transition-duration:.5s;
}

.isotope {
-webkit-transition-property:height, width;
-moz-transition-property:height, width;
-ms-transition-property:height, width;
-o-transition-property:height, width;
transition-property:height, width;
}

.isotope .isotope-item {
-webkit-transition-property:0 opacity;
-moz-transition-property:0 opacity;
-ms-transition-property:0 opacity;
-o-transition-property:0 opacity;
transition-property:transform, opacity;
}

#isotope-filter {
list-style:none;
position:relative;
float:right;
margin-top:-60px;
}

#isotope-filter ul {
display:block;
visibility:hidden;
opacity:0;
height:0;
overflow:hidden;
transition-property:opacity;
transition-duration:.25s;
transition-delay:.25s;
/* Safari */
-webkit-transition-property:opacity;
-webkit-transition-duration:.25s;
-webkit-transition-delay:.25s;
}

#isotope-filter .dropdown-menu {
padding:0;
margin:0;
list-style:none outside none;
text-transform:none;
background-color:rgba(0,0,0,0);
color:#777;
border:0 none;
border-radius:0;
box-shadow:none;
background-clip:padding-box;
}

#isotope-filter:hover ul {
opacity:1;
visibility:visible;
height:auto;
border-radius:2px;
}

#isotope-filter li a {
background-color:#01CFCA;
color:#FFF;
border:0;
outline:0;
padding-top:8px;
padding-bottom:8px;
font-size:13px;
font-weight:700;
}

#isotope-filter li a:hover,#isotope-filter li a:focus {
background-color:#2f3640;
outline:0;
}

#isotope-filter li:last-child a:hover,#isotope-filter li:last-child a:focus {
border-bottom-left-radius:2px;
border-bottom-right-radius:2px;
}

#isotope-filter li:first-child a:hover,#isotope-filter li:first-child a:focus {
border-top-left-radius:2px;
border-top-right-radius:2px;
}

#isotope .col-sm-3,#isotope .col-md-3,#isotope-masonry .col-sm-3,#isotope-masonry .col-md-3,#isotope-gallery .col-sm-3,#isotope-gallery .col-md-3 {
width:24.9%;
}

#isotope .col-sm-4,#isotope .col-md-4,#isotope-masonry .col-sm-4,#isotope-masonry .col-md-4,#isotope-gallery .col-sm-4,#isotope-gallery .col-md-4 {
width:33.3%;
}

@media (max-width: 991px) {
#isotope .col-sm-3,#isotope .col-md-3 {
width:100%;
}

#isotope .col-sm-4,#isotope .col-md-4 {
width:100%;
}
}

/* ================================= */
/* ========== 22. COUNTER STYLES ========== */
/* ================================= */
.counter {
font-size:80px;
font-weight:700;
color:#01CFCA;
line-height:1;
}

/* ================================= */
/* ========== 23. PAGINATION STYLES ========== */
/* ================================= */
.pagination > li > a,.pagination > li > span {
position:relative;
float:left;
padding:6px 12px;
line-height:1.428571429;
text-decoration:none;
background-color:#F5F5F5;
border:1px solid #EEE;
margin-left:2px;
border-radius:2px;
transition:all .5s,;
-moz-transition:all .5s;
/* Firefox 4 */
-webkit-transition:all .5s;
}

.pagination li:first-child i {
margin-right:5px;
}

.pagination li:last-child i {
margin-left:5px;
}

.pagination > li > a, .pagination > li > span {
background-color:#FFF;
}

.pagination > li:first-child > a,.pagination > li:first-child > span {
margin-left:0;
border-bottom-left-radius:2px;
border-top-left-radius:2px;
}

.pagination > li:last-child > a,.pagination > li:last-child > span {
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

.pagination > li > a:hover,.pagination > li > span:hover,.pagination > li > a:focus,.pagination > li > span:focus {
background-color:#01CFCA;
color:#FFF;
border-color:#01CFCA;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
z-index:2;
color:#ffffff;
background-color:#01CFCA;
border-color:#01CFCA;
cursor:default;
}

.pagination > .active > a,.pagination > .active > span,.pagination > .active > a:hover,.pagination > .active > span:hover,.pagination > .active > a:focus,.pagination > .active > span:focus {
z-index:2;
color:#ffffff;
background-color:#01CFCA;
border-color:#01CFCA;
cursor:default;
}

.pagination-lg > li > a,.pagination-lg > li > span {
padding:10px 16px;
font-size:18px;
}

.pagination-lg > li:first-child > a,.pagination-lg > li:first-child > span {
border-bottom-left-radius:2px;
border-top-left-radius:2px;
}

.pagination-lg > li:last-child > a,.pagination-lg > li:last-child > span {
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

.pagination-sm > li > a,.pagination-sm > li > span {
padding:5px 10px;
font-size:12px;
}

.pagination-sm > li:first-child > a,.pagination-sm > li:first-child > span {
border-bottom-left-radius:2px;
border-top-left-radius:2px;
}

.pagination-sm > li:last-child > a,.pagination-sm > li:last-child > span {
border-bottom-right-radius:2px;
border-top-right-radius:2px;
}

/* === ACCORDIAN === */
.panel-title {
font-size:13px;
position:relative;
top:-4px;
}

.panel-title a {
color:#777;
}

.panel-title a:hover {
color:#777;
}

.panel-title:after {
content:"\f0da";
display:inline-block;
font-family:FontAwesome;
font-style:normal;
font-weight:normal;
line-height:1;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
position:absolute;
right:6px;
top:50%;
margin-top:-2px;
font-size:15px;
transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;
}

.panel-group .panel-heading {
transition:all .25s;
-moz-transition:all .25s;
-webkit-transition:all .25s;
padding:12px 15px;
border-bottom:1px solid transparent;
}

.panel-group .panel {
border-radius:0;
}

.panel {
border:1px solid transparent;
box-shadow:none;
border-bottom:none;
}

.panel-group .panel:first-child {
border-top-right-radius:3px;
border-top-left-radius:3px;
}

.panel-group .panel:last-child {
border-bottom:1px solid #EEE;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
}

.panel-group .panel + .panel {
margin-top:0;
}

.panel-body {
border-top:1px solid #EEE;
padding:25px;
}

.panel-default {
border-color:#EEE;
}

.panel-heading:hover {
background-color:#F5F5F5;
}

#accordion .panel a.selected .panel-heading {
background-color:#01CFCA;
border-radius:0;
}

#accordion .panel a.selected .panel-title {
color:#FFF;
}

#accordion .panel a.selected .panel-title:after {
content:"\f0d7";
transition:all .5s;
-moz-transition:all .5s;
-webkit-transition:all .5s;
}

.panel-title i {
position:relative;
margin-right:15px;
font-size:24px;
top:5px;
}

/* === TABS === */
.nav-tabs {
border-bottom:1px solid #EEE;
font-size:13px;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
color:#00a8c1;
}

.nav-tabs > li > a {
margin-right:2px;
color:#777;
line-height:1.42857;
border-radius:3px 3px 0 0;
background-color:#FFF;
border:0;
}

.nav-tabs > li.active > a {
background-color:#FFF;
border-bottom:3px solid #01CFCA;
}

.nav-tabs i {
margin-right:4px;
}

.tab-pane {
padding:15px 25px;
border-width:1px;
border-style:solid;
border-color:transparent #EEE #EEE;
border-bottom-right-radius:3px;
border-bottom-left-radius:3px;
}

.nav-tabs > li > a:hover {
border-color:#EEE;
}

.nav-tabs > li.active > a,.nav-tabs > li.active > a:hover,.nav-tabs > li.active > a:focus {
border:1px solid #EEE;
border-bottom-color:transparent;
background-color:#FFF;
}

.nav-tabs#tabs > li > a {
background-color:#FFF;
border:0;
}

.nav-tabs#tabs > li.active > a {
background-color:#FFF;
border-bottom:3px solid #01CFCA;
}

.nav#tabs > li {
position:relative;
display:block;
}

/* ================================= */
/* ========== 24. FOOTER STYLES ========== */
/* ================================= */
.footer {
background-color:#2f3640;
color:#FFF;
}

.footer i {
font-size:16px;
color:#FFF;
margin-right:3px;
margin-left:3px;
border:2px solid #FFF;
border-radius:25px;
padding:5px;
cursor:pointer;
-webkit-transition:all .25s;
-ms-transition:all .25s;
-moz-transition:all .25s;
-o-transition:all .25s;
}

.footer i:hover {
border-color:#FF4D50;
color:#FF4D50;
}

.footer-bottom {
background-color:#272d35;
padding:20px;
color:#FFF;
}

.footer-bottom a,.footer-bottom a:link,.footer-bottom a:visited,.footer a,.footer a:link,.footer a:visited {
color:#DDD;
}

.footer-bottom a:active,.footer-bottom a:hover,.footer a:active,.footer a:hover {
color:#FFF;
}
/* ===== SHORTCODE ICON DEMO ===== */
.shortcode-icon-demo i {
font-size:28px;
color:#01CFCA;
margin-top:7px;
margin-bottom:7px;
margin-right:15px;
}